body {
    background-image: url('../media/bg.jpg');
  }

  /* General Styles */
/* :root {
  --gap: calc(80vw - (150px * 5 / 4));
}

#opponent-cards{
  display: grid;
  grid-template-columns: repeat(5, 150px);
  gap: var(--gap);
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  nav a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 10px;
  }
  
  nav a:active {
    color: blue;
    text-decoration: underline;
  }
  
  nav a:visited {
    color: green;
    text-decoration: underline;
  }

  /* Container for the list of heroes */
  #heroes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: center;
  }
  
  /* Style for each hero card */
  .hero-card {
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 150px;

    overflow: hidden;
    margin-bottom: 20px;
  }

  .hero-card:hover .hero-name {
    color: gold;
  }

  .hero-card:hover {
    border: gold 1px solid;
  }
  
  /* Header section with name and cost */
  .header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    height: 30px;
    align-items: center;
  }
  
  .hero-name {
    font-size: 14px; 
    font-weight: bold;
  }

  .hero-name:hover {
    color: gold;
  }
  
  .hero-cost {
    font-size: 12px; 
    color: #666;
    background-color: black;
    border-radius: 50%;
    padding: 3px;
    width: 20px;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Image section */
  .hero-image {
    text-align: center;
    padding:0 3px;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  /* Details section */
  .hero-details {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
    height: 15px;
    font-size: 14px;
  }
  

  
  /* Stats section */
  .hero-stats {
    margin: 5px ;
    border-bottom: 1px solid #ddd;
  }
  
  .stats-item {
    margin: -7px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px; /* Reduced margin */
    padding: 2px 0;
    background-color: rgb(240, 240, 240);
  }
  
  .stats-label {
    font-weight: bold;
    width: 50%;
    font-size: 12px; 
  }
  
  .stats-value {
    text-align: right;
    width: 50%;
    font-size: 12px; 
  }
  
  /* Final stats section */
  .final-stats {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .final-stats div {
    font-size: 12px; 
  }
  
  .final-stats img {
    width: 20px;
    height: auto;
    display: none;
  }

  .battle-card.selected {
    border-color: #4caf50;
    filter: brightness(1.2);
    background-color: rgba(7, 238, 18, 0.1);
}

.battle-card.selected .final-stats img {
  display: block;
}

.defeated {
  filter: grayscale(100%);
  color: lightgray;
}

.defeated  .hero-cost {
  background-color: lightgray;
}

  /* Style the search bar */
  input {
    border: 2px solid rgb(223, 216, 216);
    padding: 5px; /* Red border with 1px width */
    font-size: 16px;
    font-weight: 400; /* Font weight for the select dropdown */
  }
  /* Style the select element */
  select {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    border: 2px solid #E5E3E1;
    background-color: white;
    color: rgb(50, 50, 50);
    cursor: pointer; 
  }
  
  /* Style the option elements */
  select option {
    font-weight: 400; /* Font weight for options */
    font-size: 16px; /* Font size for options */
    padding: 5px; /* Padding for options (not always supported) */
    background-color: #E5E3E1;
  }
  
  label {
    font-weight: 500;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 4px; /* Rounds the corners */
  }