body {
    background-image: url('../media/bg.jpg');
  }

  /* Style the search bar */
  input {
    border: 2px solid rgb(223, 216, 216);
    padding: 5px; /* Red border with 1px width */
    font-size: 16px;
    font-weight: 400; /* Font weight for the select dropdown */
  }
  /* Style the select element */
  select {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    border: 2px solid #E5E3E1;
    background-color: white;
    color: rgb(50, 50, 50);
    cursor: pointer; 
  }
  
  /* Style the option elements */
  select option {
    font-weight: 400; /* Font weight for options */
    font-size: 16px; /* Font size for options */
    padding: 5px; /* Padding for options (not always supported) */
    background-color: #E5E3E1;
  }
  
  label {
    font-weight: 500;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 4px; /* Rounds the corners */
  }